@charset "UTF-8";
/* Importanci贸n de DM Sans from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Open+Sans:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'DM Sans', sans-serif;
  background: #2596be;
  background: linear-gradient(59deg, #2596be 19%, rgba(0, 1, 1, 0.683911) 64%); }

/* -------------- Estilos aplicables a todo el sitio -------------- */
.container-fluid {
  padding: 0; }

.separador {
  background-color: #01adef;
  height: 3px;
  opacity: 1;
  border: none; }

/* Media Queries */
@media (max-width: 1389px) {
  .botones {
    grid-template-columns: repeat(1, 1fr); } }

@media (max-width: 986px) {
  .logo {
    width: 30%;
    height: auto;
    margin-right: 20px; } }

@media (max-width: 768px) {
  .titulo-principal {
    font-size: 48px;
    text-align: center;
    line-height: 48px; }
  footer p {
    text-align: center;
    margin: 8px; }
  .ig {
    text-align: center; } }

@media (max-width: 579px) {
  .navbar-brand {
    font-size: 32px; } }

header .navbar {
  padding: 8px 32px; }
  header .navbar .logo {
    width: 16%;
    height: auto;
    margin-right: 20px; }
  header .navbar .nav-link {
    font-weight: 500;
    font-size: 20px;
    color: #01adef; }
  header .navbar .animacion a {
    position: relative;
    display: block;
    padding: 5px; }
    header .navbar .animacion a:hover::before {
      transform: scaleX(1); }
    header .navbar .animacion a::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: linear-gradient(270deg, #2596be 0%, rgba(0, 1, 1, 0.896796) 100%);
      z-index: 1;
      transform: scaleX(0);
      transform-origin: center;
      transition: transform 0.5s ease-in-out; }

/* -------------- Secci贸n Sobre mi -------------- */
.nosotros {
  margin-top: 16px;
  margin-bottom: 10px; }

/* Modificaci贸n de componente Accordion de Bootstrap */
.accordion {
  --bs-accordion-bg: #ffffff;
  /*Modificaci贸n de variable interna de Bootstrap*/ }

.accordion-button:not(.collapsed) {
  background-color: #000000;
  color: white;
  font-weight: 600;
  font-size: 18px; }

.accordion-button {
  border-color: #01acef81; }

.accordion-item {
  border-color: #000; }

/* -------------- Cards Equipos -------------- */
.equipos {
  text-align: center;
  justify-content: center;
  padding: 0 70px 70px 70px; }

.botones {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: row;
  column-gap: 20px;
  row-gap: 20px; }

.imagen-team {
  width: 100%;
  height: 100%;
  object-fit: cover; }

/* -------------- Boton Contacto -------------- */
.boton {
  background-color: #01adef; }

.mapa {
  margin-bottom: 20px; }

footer {
  /* background-color: #01acef50; */
  color: #fff; }

.ig {
  text-align: right;
  text-decoration: none;
  color: #fff; }
