/* Importanción de DM Sans from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Open+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
    background-color: #e3f2fd;
}

/* -------------- Estilos aplicables a todo el sitio -------------- */
.container-fluid {
    padding: 0;
}

.separador {
    background-color: #01adef;
    height: 3px;
    opacity: 1;
    border: none;
}

/* Media Queries */
@media (max-width: 950px) {

    header nav .fixed-top {
        position: none;
    }

    main section .equipos .botones {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 768px) {

    nav .container-fluid .navbar-brand {
        font-size: 16px;
    }

    .nosotros div div .titulo-principal {
        font-size: 48px;
        text-align: center;
        line-height: 48px;
    }
}

@media (max-width: 574px) {

    nav .container-fluid .navbar-brand {
        display: none;
    }
}